<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hercules Fitness</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body class="bodyIndex">
<header>
    <a> <img class="resize"
             src="/images/logo.jpg" alt="">
    </a>
    <p class="headerWord">
        HERCULES
    </p>
    <nav>
        <ul>
            <li>
                <a href="/home">HOME</a>
            </li>
            <li>
                <a href="/login">LOGIN</a>
            </li>
            <li>
                <a href="/register">REGISTER</a>
            </li>
            <li>
                <a href="/profile">PROFILE</a>
            </li>
            <li>
                <a href="/card">CREATE CARD</a>
            </li>
            <li>
                <a href="/trainings">TRAINING PLANS</a>
            </li>
            <li>
                <a href="/trainers">TRAINERS</a>
            </li>
            <li>
                <a href="/memberships">MEMBERSHIPS</a>
            </li>
            <li>
                <a href="/clubs">CLUBS</a>
            </li>
            <li>
                <a href="/">ADMIN</a>
            </li>
            <li>
                <a href="/logout">LOGOUT</a>
            </li>
        </ul>
    </nav>
    <section class="motivation">
        <h1 class="sentence">Explore possibilities beyond your imagination.</h1>
    </section>
</header>
<main>
    <section class="thirdSection">
        <ul>
            <li>
                <img src="/images/joinUs.jpg">
                <section class="info">
                    <div>
                        <h3>Memberships</h3>
                        <p>Best quality for your money</p>
                    </div>
                    <div></div>
                </section>
                <section class="moreInfo">
                    <button class="button_under_picture">LEARN MORE</button>
                </section>
            </li>
            <li class="second">
                <img src="/images/luxuryFitness.jpg">
                <section class="info">
                    <div>
                        <h3>Clubs</h3>
                        <p>Nominated for most luxurious in Europe</p>
                    </div>
                    <div></div>
                </section>
                <section class="moreInfo">
                    <button>LEARN MORE</button>
                </section>
            </li>
            <li>
                <img src="/images/trainingPlans.jpg">
                <section class="info">
                    <div>
                        <h3>Training Plans</h3>
                        <p>Guaranteed positive effects on your body</p>
                    </div>
                    <div></div>
                </section>
                <section class="moreInfo">
                    <button>LEARN MORE</button>
                </section>
            </li>
        </ul>
    </section>
    <section class="fourSection">
        <h2 class="title_section_four">Hercules Fitness & Wellness</h2>
        <p class="textOne">Innovative, luxurious, unique. With its 1200 fitness centers located in the largest cities in
            Europe such as London, Paris, Sofia, Barcelona. Nominated 12 years in a row for the most luxurious fitness
            center in Europe. Over 50,000 new club members every year. With its 6,000 highly qualified personal trainers
            and ultra-modern facilities, Hercules Fitness is undisputedly and without competition one of the best in the
            wellness and fitness industry.
        </p>
        <p class="lastSentence">Let us immerse you deeper into the atmosphere of Hercules Fitness.</p>
        <button class="learnMore">
            ABOUT HERCULES
        </button>
    </section>
    <section class="fiveSection">
        <h2 class="fiveHeading">Amenities</h2>
        <li>
            <img src="/images/spa.jpg">
            <h1>Spa Areas</h1>
            <p>Our spa department offers a one-of-a-kind and unforgettable experience. the innovative smart jacuzzi for
                10 people opens up all your senses with its massaging nozzles. The automated temperature control makes
                it possible to adjust it to that of the body so that you feel as if there is no water. Sauna and steam
                bath also for 10 people is another asset that will add to your amazing spa experience.
            </p>
        </li>
        <li>
            <img src="/images/fitness.jpg">
            <h1>Fitness Zones</h1>
            <p>Тhe fitness area has absolutely all the equipment with the help of which all muscle groups in the human
                body are trained. For your comfort, the fitness area is divided into different rooms with different
                functionality. A room for group cycling, a room for yoga classes, a main room with fitness equipment as
                well as changing rooms and showers, equipped with the necessary toiletries that one needs.
            </p>
        </li>
        <li>
            <img src="/images/pool.jpg">
            <h1>Swimming Pools</h1>
            <p> Two types of pools provided for our club members. An outdoor pool located on the
                roof of the building with a breathtaking 360 degree view. An indoor pool, which has a specialized
                system through which the temperature in the room as well as in the pool matches the body temperature.
                Special panels imitating sunlight and reproducing ultraviolet rays contribute to feeling as if you are
                sitting outdoors under the sun.
            </p>
        </li>
        <li>
            <img src="/images/solarium.jpg">
            <h1>Solarium</h1>
            <p>The solarium provides the opportunity to build an evenly distributed tan over the entire body. With its
                special systems, the risk of producing more ultraviolet rays than necessary is minimized to
                zero. all control is put into a touch control device. It is also possible to connect your mobile smart
                device via bluetooth and control not only all functions, but also play music through the built-in
                speakers.
            </p>
        </li>
        <li>
            <img src="/images/parking.jpg">
            <h1>Parking</h1>
            <p> We understand the difficulty of parking in big cities. All our clubs have parking for a total of 100
                cars,
                divided into outdoor parking and indoor underground parking. In addition, the centers have an
                innovative and ultra-modern self-service car wash equipped with everything your car needs. For all club
                members,
                the parking lot as well as the car wash can be used completely free of charge.
            </p>
        </li>
        <li>
            <img src="/images/bar.jpg">
            <h1 class="lastOne">Fresh Bar</h1>
            <p> What's better than a healthy drink after a workout? Enjoy and immerse yourself in the world of
                healthy food and drinks in our fresh bar. It has a wide variety of fruits and vegetables to make
                smoothies
                and fresh, as well as all kinds of healthy seeds and nuts. Healthy desserts are another addition
                that
                you have the opportunity to try. Better come and try it for yourself to experience the amazing
                flavors and quality of all our products.
            </p>
        </li>
    </section>
</main>
<footer class="footer">
    <p>HERCULES FITNESS & WELLNESS © 2022 | All Rights Reserved.</p>
    <ul>
        <li>
            <a href="#" class="logoOne">
                <img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-1024.png"
                     alt="Logo Icon"/>
            </a>
        </li>
        <li>
            <a href="#" class="logoTwo">
                <img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-1024.png"
                     alt="Logo Icon"/>
            </a>
        </li>
        <li>
            <a href="#" class="logoThree">
                <img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Twitter5_svg-1024.png"
                     alt="Logo Icon"/>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>