<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hercules Fitness</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="bg-secondary">
<header>
    <a> <img class="resize"
             src="/images/logo.jpg" alt="">
    </a>
    <p class="headerWord">
        HERCULES
    </p>
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/login">LOGIN</a>
            </li>
            <li>
                <a href="/register">REGISTER</a>
            </li>
            <li>
                <a href="/profile">PROFILE</a>
            </li>
            <li>
                <a href="/card">CREATE CARD</a>
            </li>
            <li>
                <a href="/trainings">TRAINING PLANS</a>
            </li>
            <li>
                <a href="/trainers">TRAINERS</a>
            </li>
            <li>
                <a href="/memberships">MEMBERSHIPS</a>
            </li>
            <li>
                <a href="/clubs">CLUBS</a>
            </li>
            <li>
                <a href="/">ADMIN</a>
            </li>
            <li>
                <a href="/logout">LOGOUT</a>
            </li>
        </ul>
    </nav>
</header>
<main role="main" class="bg-secondary">
    <div class="jumbotron" style="background-color:black;">
        <div class="container text-light ">
            <h1 class="display-3 ">
                <strong class="bg-blur rounded pl-3 ">
                    Register</strong></h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <form th:action="@{/register}" th:method="post" th:object="${registerDTO}"
                  class=" text-center text-light">
                <div class="form-group row">
                    <label for="username" class="col-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color: black;"
                               id="username"
                               th:field="*{username}"
                               th:errorclass="is-invalid"
                               aria-describedby="usernameHelpInline" placeholder="Username">
                        <small id="usernameHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Username length must be between 5 and 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fullName" class="col-sm-2 col-form-label">Full name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color:black;"
                               id="fullName"
                               th:field="*{fullName}"
                               th:errorclass="is-invalid"
                               aria-describedby="fullNameHelpInline" placeholder="Full name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-sm-2 col-form-label">Age</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color:black;"
                               id="age"
                               th:field="*{age}"
                               th:errorclass="is-invalid"
                               aria-describedby="ageHelpInline" placeholder="Age">
                        <small id="lastNameHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Age must be 18 and above and cannot be empty.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color:black;"
                               id="email"
                               th:field="*{email}"
                               th:errorclass="is-invalid"
                               aria-describedby="emailHelpInline" placeholder="email@example.com">
                        <small id="emailHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Enter valid email address.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wallet" class="col-sm-2 col-form-label">Wallet</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color:black;"
                               id="wallet"
                               th:field="*{wallet}"
                               th:errorclass="is-invalid"
                               aria-describedby="walletHelpInline" placeholder="available money">
                        <small id="walletHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Enter valid sum.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control text-light" style="background-color:black;"
                               id="password"
                               th:field="*{password}"
                               th:errorclass="is-invalid"
                               aria-describedby="passwordHelpInline" placeholder="Password">
                        <small id="passwordHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Password length must be at least 5 characters long.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control text-light" style="background-color:black;"
                               id="confirmPassword"
                               th:field="*{confirmPassword}"
                               th:errorclass="is-invalid"
                               aria-describedby="confirmPasswordHelpInline" placeholder="Confirm Password">
                        <small id="confirmPasswordHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Password length must be at least 5 characters long.
                        </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-light w-50">Register</button>
            </form>
            <hr style="background-color:white;">
        </div>
    </div>
</main>
<footer class="footer">
    <p>HERCULES FITNESS & WELLNESS © 2022 | All Rights Reserved.</p>
    <ul>
        <li>
            <a href="https://www.facebook.com/" class="logoOne">
                <img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-1024.png"
                     alt="Logo Icon"/>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/" class="logoTwo">
                <img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-1024.png"
                     alt="Logo Icon"/>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/?lang=bg" class="logoThree">
                <img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Twitter5_svg-1024.png"
                     alt="Logo Icon"/>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>