<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>
<body class="bodyIndex">
<header>
    <a> <img class="resize"
             src="/images/logo.jpg" alt="">
    </a>
    <p class="headerWord">
        <a href="/">HERCULES</a>
    </p>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<main class="content-wrap">
    <h1 class="text-center mt-2"><span
            class="badgeSlideIn badge badge-pill border border-white text-white" th:text="#{trainers_header}">OUR TOP PERSONAL TRAINERS</span>
    </h1>
    <hr class="hr-3 w-75 bg-white"/>
    <section class="boxes text-white" th:each="a : ${allTrainers}" th:object="${a}">
        <a class="main-btn">
            <div class="box border border-white">
                <img class="border border-white fade-in-option" th:src="*{image}" height="150px" alt="">
                <p style="color: #b9bbbe">Name: <span class="text-white" th:text="*{trainerName}"></span></p>
                <p style="color: #b9bbbe">Age: <span class="text-white" th:text="*{age}"></span></p>
                <p style="color: #b9bbbe">Specialization: <span class="text-white" th:text="*{specialization}"></span>
                </p>
            </div>
        </a>
    </section>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>