<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>
<body class="bodyIndex">
<header>
    <a> <img class="resize"
             src="/images/logo.jpg" alt="">
    </a>
    <p class="headerWord">
        <a href="/">HERCULES</a>
    </p>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<main role="main">
    <div class="jumbotron" style="background: black">
        <div class="container text-white">
            <h1 class="display-3 ">
                <strong class="badge badge-pill border border-white" th:text="#{card_create}">Create Card</strong></h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <strong th:if="${badCredentials}" class="bg-blur rounded text-danger">You Do not have enough money
                in your wallet for this card!</strong>
            <form th:action="@{/create-card}" th:method="POST" th:object="${createCardDTO}"
                  class=" text-center text-light">
                <div class="form-group row">
                    <label for="trainer" class="col-sm-2 col-form-label text-white" th:text="#{card_trainer}">Trainer</label>
                    <div class="col-sm-10">
                        <select id="trainer" name="trainer" class="custom-select"
                                aria-describedby="trainerHelpInline"
                                th:field="*{trainer}"
                                th:errorclass="is-invalid">
                            <option value="" selected>Choose trainer by name</option>
                            <option value="NICK_MITCHELL">NICK MITCHELL</option>
                            <option value="MATT_ROBERTS">MATT ROBERTS</option>
                            <option value="LOUISE_PARKER">LOUISE PARKER</option>
                            <option value="SHAUN_STAFFORD">SHAUN STAFFORD</option>
                            <option value="SCOTT_LAIDLER">SCOTT LAIDLER</option>
                            <option value="EMMA_CHAN">EMMA CHAN</option>
                            <option value="NICOLE_STANFORD">NICOLE STANFORD</option>
                            <option value="SHANON_MICHAEL">SHANON MICHAEL</option>
                            <option value="JOHN_SIEMENS">JOHN SIEMENS</option>
                            <option value="SANDRA_SIMONS">SANDRA SIMONS</option>
                            <option value="JESSICA_PORTERS">JESSICA PORTERS</option>
                            <option value="MICHAEL_SMITH">MICHAEL SMITH</option>
                            <option value="SIMON_SAIGON">SIMON SAIGON</option>
                            <option value="DARA_MIKO">DARA MIKO</option>
                            <option value="GAMET_GARADJ">GAMET GARADJ</option>
                            <option value="JACKIE_WARNER">JACKIE WARNER</option>
                            <option value="ALEXIA_CLARK">ALEXIA_CLARK</option>
                            <option value="JOE_DOWDELL">JOE DOWDELL</option>
                            <option value="KAYLA_ITSINES">KAYLA ITSINES</option>
                            <option value="CHRISTIAN_THIBAUDEAU">CHRISTIAN THIBAUDEAU</option>
                        </select>
                        <small id="trainerHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            You must select a trainer.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="plan" class="col-sm-2 col-form-label text-white" th:text="#{card_plan}">Plan</label>
                    <div class="col-sm-10">
                        <select id="plan" name="plan" class="custom-select"
                                aria-describedby="planHelpInline"
                                th:field="*{plan}"
                                th:errorclass="is-invalid">
                            <option value="" selected>Choose plan by title</option>
                            <option value="FITNESS_MANIACS">FITNESS MANIACS</option>
                            <option value="OPTIMIZED_TRAINING">OPTIMIZED TRAINING</option>
                            <option value="INSTRUCTIVELY">INSTRUCTIVELY</option>
                            <option value="ACTIVATE_ACADEMY">ACTIVATE ACADEMY</option>
                            <option value="INNER_GROWTH">INNER GROWTH</option>
                            <option value="TIMELY_TRAINING">TIMELY TRAINING</option>
                            <option value="GRADE_POTENTIAL">GRADE POTENTIAL</option>
                            <option value="THE_WATCHERS">THE WATCHERS</option>
                            <option value="COURSE_METHOD">COURSE METHOD</option>
                            <option value="CORPORATE_BUILDERS">CORPORATE BUILDERS</option>
                            <option value="COSMIC_BRAIN">COSMIC BRAIN</option>
                            <option value="NANO_TRAINER">NANO TRAINER</option>
                            <option value="FLEX_ED">FLEX ED</option>
                            <option value="FOCUS_FITNESS">FOCUS FITNESS</option>
                            <option value="LESSON_UP">LESSON UP</option>
                        </select>
                        <small id="planHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            You must select a plan.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="subscription" class="col-sm-2 col-form-label text-white" th:text="#{card_subs}">Subscription</label>
                    <div class="col-sm-10">
                        <select id="subscription" name="subscription" class="custom-select"
                                aria-describedby="subscriptionHelpInline"
                                th:field="*{subscription}"
                                th:errorclass="is-invalid">
                            <option value="" selected>Choose subscription by type</option>
                            <option value="VIP">VIP ($153)</option>
                            <option value="STANDARD">STANDARD ($49)</option>
                            <option value="UNLIMITED_CLASSES">UNLIMITED CLASSES ($69)</option>
                            <option value="EQUIPMENT_ONLY">EQUIPMENT ONLY ($39)</option>
                            <option value="ONE_MONTH">ONE MONTH ($49)</option>
                            <option value="TREE_MONTHS">TREE MONTHS ($140)</option>
                            <option value="SIX_MONTHS">SIX MONTHS ($275)</option>
                            <option value="ONE_YEAR">ONE YEAR ($550)</option>
                        </select>
                        <small id="subscriptionHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            You must select a subscription.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="club" class="col-sm-2 col-form-label text-white" th:text="#{card_club}">Club</label>
                    <div class="col-sm-10">
                        <select id="club" name="club" class="custom-select"
                                aria-describedby="clubHelpInline"
                                th:field="*{club}"
                                th:errorclass="is-invalid">
                            <option value="" selected>Choose club by title</option>
                            <option value="LAS_TORTUGA">LAS TORTUGA</option>
                            <option value="LONDON_PEARL">LONDON PEARL</option>
                            <option value="PARIS_DIAMOND">PARIS DIAMOND</option>
                            <option value="CASE_DE_SANTORINI">CASE DE SANTORINI</option>
                            <option value="VIVA_DE_FLORANCE">VIVA DE FLORANCE</option>
                            <option value="MALAGA_PEARL">MALAGA PEARL</option>
                            <option value="ALICANTE_DIAMOND">ALICANTE DIAMOND</option>
                            <option value="MADRID_MILLENNIAL">MADRID MILLENNIAL</option>
                            <option value="MILANO_MILLENNIAL">MILANO MILLENNIAL</option>
                            <option value="CASE_VENEZIA">CASE VENEZIA</option>
                            <option value="WEST_MALLING">WEST MALLING</option>
                            <option value="ROYSTON_DIAMOND">ROYSTON DIAMOND</option>
                            <option value="LONDON_MILLENNIAL">LONDON MILLENNIAL</option>
                            <option value="COLOMBES">COLOMBES</option>
                            <option value="HOUILLES">HOUILLES</option>
                            <option value="AMIENS_MILLENNIAL">AMIENS MILLENNIAL</option>
                            <option value="MANASTIRSKI_LIVADI">MANASTIRSKI LIVADI</option>
                            <option value="MLADOST">MLADOST</option>
                            <option value="DELUXE">DELUXE</option>
                            <option value="RING_MALL">RING MALL</option>
                            <option value="GRAFENWOHR">GRAFENWOHR</option>
                            <option value="RAMSTEIN">RAMSTEIN</option>
                            <option value="WIESBADEN">WIESBADEN</option>
                            <option value="BERLIN_PEARL">BERLIN PEARL</option>
                            <option value="UTRECHT">UTRECHT</option>
                            <option value="OOSTZAAN">OOSTZAAN</option>
                            <option value="EINDHOVEN">EINDHOVEN</option>
                            <option value="AMSTERDAM">AMSTERDAM</option>
                        </select>
                        <small id="clubHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            You must select a club.
                        </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-light w-50" th:text="#{card_add}">Add Card</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>