<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>
<body class="bodyIndex">
<header>
    <a> <img class="resize"
             src="/images/logo.jpg" alt="">
    </a>
    <p class="headerWord">
        <a href="/">HERCULES</a>
    </p>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<main>
    <h1 class="text-center mt-2"><span
            class="badgeSlideIn badge badge-pill border border-white text-white" th:text="#{training_plans_header}">OUR TRAINING PLANS</span>
    </h1>
    <hr class="hr-3 w-75 bg-white"/>
    <section class="cardSection1 text-white" th:each="a : ${allTrainingPlans}" th:object="${a}">
        <a class="main-btn">
            <div class="cardList1 border border-white">
                <p class="cardH1" style="color: #b9bbbe">Title: <span class="text-white" th:text="*{title}"></span></p>
                <p class="cardP" style="color: #b9bbbe">Level: <span class="text-white" th:text="*{level}"></span></p>
                <p class="cardP" style="color: #b9bbbe">Goal: <span class="text-white" th:text="*{goal}"></span></p>
                <p class="cardP" style="color: #b9bbbe">Muscle Group: <span class="text-white"
                                                                            th:text="*{muscleGroup}"></span></p>
            </div>
        </a>
    </section>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>