<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body class="bg-secondary">
<header>
    <a> <img class="resize"
             src="/images/logo.jpg" alt="">
    </a>
    <p class="headerWord">
        <a href="/">HERCULES</a>
    </p>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<main role="main" class="bg-secondary">
    <div class="jumbotron" style="background-color:black;">
        <div class="container text-light ">
            <h1 class="display-3 ">
                <strong class="bg-blur rounded pl-3" th:text="#{register_header}">
                    Register</strong></h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <form th:action="@{/register}" th:method="post" th:object="${registerDTO}"
                  class=" text-center text-light">
                <div class="form-group row">
                    <label for="username" class="col-2 col-form-label" th:text="#{register_username}">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color: black;"
                               id="username"
                               th:field="*{username}"
                               th:errorclass="is-invalid"
                               aria-describedby="usernameHelpInline" placeholder="Username">
                        <small id="usernameHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Username length must be between 5 and 20 characters and must be unique.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fullName" class="col-sm-2 col-form-label" th:text="#{register_full_name}">Full name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color:black;"
                               id="fullName"
                               th:field="*{fullName}"
                               th:errorclass="is-invalid"
                               aria-describedby="fullNameHelpInline" placeholder="Full name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-sm-2 col-form-label" th:text="#{register_age}">Age</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color:black;"
                               id="age"
                               th:field="*{age}"
                               th:errorclass="is-invalid"
                               aria-describedby="ageHelpInline" placeholder="Age">
                        <small id="lastNameHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Age must be 18 and above and cannot be empty.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label" th:text="#{register_email}">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color:black;"
                               id="email"
                               th:field="*{email}"
                               th:errorclass="is-invalid"
                               aria-describedby="emailHelpInline" placeholder="email@example.com">
                        <small id="emailHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Email address must be unique.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wallet" class="col-sm-2 col-form-label" th:text="#{register_wallet}">Wallet</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-light" style="background-color:black;"
                               id="wallet"
                               th:field="*{wallet}"
                               th:errorclass="is-invalid"
                               aria-describedby="walletHelpInline" placeholder="available money">
                        <small id="walletHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Enter valid sum.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label" th:text="#{register_password}">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control text-light" style="background-color:black;"
                               id="password"
                               th:field="*{password}"
                               th:errorclass="is-invalid"
                               aria-describedby="passwordHelpInline" placeholder="Password">
                        <small id="passwordHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Password length must be at least 5 characters long.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmPassword" class="col-sm-2 col-form-label" th:text="#{register_confirm_password}">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control text-light" style="background-color:black;"
                               id="confirmPassword"
                               th:field="*{confirmPassword}"
                               th:errorclass="is-invalid"
                               aria-describedby="confirmPasswordHelpInline" placeholder="Confirm Password">
                        <small id="confirmPasswordHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Passwords must match and length must be at least 5 characters long.
                        </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-light w-50" th:text="#{register_button}">Register</button>
            </form>
            <hr style="background-color:white;">
        </div>
    </div>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>