<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>
<body class="bodyIndex">
<header>
    <a> <img class="resize"
             src="/images/logo.jpg" alt="">
    </a>
    <p class="headerWord">
        <a href="/">HERCULES</a>
    </p>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<main>
    <h1 class="text-center mt-2"><span
            class="badgeSlideIn badge badge-pill border border-white text-white" th:text="#{subs_header}">OUR SUBSCRIPTION OPTIONS</span>
    </h1>
    <hr class="hr-3 w-75 bg-white"/>
    <section class="cardSection text-white" th:each="a : ${allCards}" th:object="${a}">
        <a class="main-btn">
            <div class="cardList border border-white">
                <img th:src="*{image}" alt="Image" class="cardImage fade-in-option border border-white">
                <p class="cardH1" style="color: #b9bbbe">Card Type: <span class="text-white" th:text="*{type}"></span>
                </p>
                <p class="cardP" style="color: #b9bbbe">Price: $<span class="text-white" th:text="*{price}"></span></p>
                <p class="cardP" style="color: #b9bbbe">Period: <span class="text-white" th:text="*{period}"></span></p>
            </div>
        </a>
    </section>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>